*{
	margin:0;
	padding:0;
	height:100%;
}

/*All of these desings are the headers*/
/*This is the image container which containes image in the background*/
.img-container{
	background-image:url('../img/3.jpg');
	height:70%;
	background-position:center;
	background-repeat:no-repeat;
	
}
/*This is the inner container where message is written*/
.inner-container{
	text-align:center;
	background:black;
	position:fixed;
	width:100%;
	opacity:0.5;
	color:white;
	height:auto;
	margin-top:200px;
	padding:20px;
	z-index:1;
}
/*Styling fonts for header*/
h1{
	font-size:7em;
	font-family: 'Shadows Into Light', cursive;
}
h2{
	margin-top:-17px;
	font-family: "Source Sans Pro", sans-serif;
	font-size:1.7em;
	text-align:center;
	font-weight: 400;
}
/*Responsive design for header*/
@media only screen and (max-width: 1024px){
	.inner-container{
		margin-top:150px;
	}
	h1{
		font-size:8em;
	}
	h2{
		font-size:1.9em;
	}
}
@media only screen and (max-width: 920px){
	.inner-container{
		margin-top:100px;
	}
}
@media only screen and (max-width: 540px){
	.inner-container{
		margin-top:150px;
	}
	h1{
		font-size:5em;
	}
	h2{
		font-size:1.4em;
	}
}
@media only screen and (max-width: 320px){
	.inner-container{
		margin-top:150px;
	}
	h1{
		font-size:4em;
	}
	h2{
		font-size:1.2em;
	}
}

/*Here starts the navigation menu. Careful, We have given a height of 100% to all tags,
  Causing this nav menu to behave abnormally so what we do is simply decrease its height and display all list elements inline*/
.nav_menu{
	background:#34495e;
	z-index:10;
	position:relative;
	height:50px;
}
.nav_menu ul li{
	display:inline;
}
.nav_menu ul li a{
	color:white;
	padding:10px;
	text-align:center;
	line-height:35px;
	font-family:Helvetica;
	font-weight:bold;
}
.nav_menu ul li a:hover{
	text-decoration:none;
	background:#2c3e50;
}
.right_side_menu{
	float:right;
}
.left_side_menu{
	float:left;
}
/*This is the sticky class for the navigation menu to stick automatically*/
.sticky{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background:#2c3e50;
	height:50px;
}
.sticky li a:hover{
	background:#34495e;
}
/*This is the content area*/
.content{
	background:#ecf0f1;
	z-index:9;
	position:relative;
	height:700px;
}